<div class="container-fluid" style="padding-top: 10vh">
    <div class="mb-5 container d-flex justify-content-center">
        <div class="p-3 p-sm-4 col-12 col-sm-8 rounded shadow">

            <h2 class="text-center fw-bold py-4">Login</h2>

            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

                <div class="row d-flex justify-content-center">
                    <div class="mt-4 col-12 col-md-10 col-lg-8 text-center">
                        <div class="col-12">
                            <input type="email" class="form-control py-2" placeholder="Correo" name="email" id="email"
                                [(ngModel)]="user.email" required />
                        </div>

                        <div class="col-12 mt-4">
                            <div class="input-group">
                                <input [type]="password" class="form-control py-2" id="password"
                                    placeholder="Confirme su contraseña" name="password" [(ngModel)]="user.password"
                                    required>
                                <a style="color: #7E71E1;" class="btn"
                                    [ngClass]="{'btn-secondary': !show, 'btn-secondary-clicked': show}"
                                    (click)="onClickPass()">
                                    <i class="bi bi-eye" aria-hidden="true" *ngIf="!show"></i>
                                    <i class="bi bi-eye-slash" aria-hidden="true" *ngIf="show"></i>
                                </a>
                            </div>
                        </div>

                        <div class="form-check d-flex justify-content-center mt-4">
                            <input class="form-check-input" type="checkbox" name="recordar" id="flexCheckDefault"
                                [(ngModel)]="recordar">
                            <label class="form-check-label" for="flexCheckDefault"> &nbsp; &nbsp;
                                Recordar sesión
                            </label>
                        </div>

                        <div class="d-grid gap-2 mt-4">
                            <button *ngIf="!load_login" type="submit" class="btn btn-principal"
                                [disabled]="loginForm.invalid">
                                Inicar sesion
                            </button>
                            <button *ngIf="load_login" class="btn btn-primary" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span> &nbsp;
                                <span role="status">Iniciando...</span>
                            </button>
                        </div>

                        <p class="font-size-sm pt-4 text-center">
                            ¿Ya tienes cuenta?
                            <a class="fw-bold text-decoration-none text-secondary" [routerLink]="['/auth/registro']">
                                Registrate
                            </a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>